<div class="x-select__control">
  <div class="x-select__input">
    {{#if multiple}}
      {{#each value as |val|}}
        <div class="x-select__selected-option">
          {{val}}
          <span {{action "deselectOption" val}} class="x-select__remove-option">x</span>
        </div>
      {{/each}}
    {{else}}
      <div class="x-select__selected-option">
        {{value}}
        <span {{action "deselectOption" value}} class="x-select__remove-option">x</span>
      </div>
    {{/if}}
  </div>

  <div class="x-select__dropdown">
    {{input value=query placeholder="Search" class="x-select__search"}}

    {{#each availableOptions as |option|}}
      <div {{action "selectOption" option.option}} class="x-select__option">
        {{option.label}}
      </div>
    {{/each}}
  </div>
</div>
