<div class="x-select__control">
  <div class="x-select__input">
    {{#each selectedOptions as |option|}}
      <div class="x-select__selected-option">
        {{option.label}}
        <span {{action "deselectOption" option}} class="x-select__remove-option">x</span>
      </div>
    {{/each}}
  </div>

  <div class="x-select__dropdown">
    {{input value=query placeholder="Search" class="x-select__search"}}

    {{#each availableOptions as |option|}}
      <div {{action "selectOption" option}} class="x-select__option">
        {{option.label}}
      </div>
    {{/each}}
  </div>
</div>
